@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');
:root{
    --main-color:#6f60c9f5;
    --color-1:#e91e63;
    --color-2:#f5ae10;
    --color-3:#e91096;
    --bg-dark:#2b2c2f;
    --main-to-dark-color: var(--main-color);
    --dark-to-main-color:var(--bg-dark);
    --shadow-black-100: 0 5px 15px rgba(0,0,0,0.1);
    --shadow-black-300:0 5px 15px rgba(0,0,0,0.3);
    --black-900:#000000;
    --black-400:#555555;
    --black-100:#f7f7f7;
    --black-000:#ffffff;
    --black-alpha-100:rgba(0,0,0,0.05);
}
body.dark{
    background-color: var(--bg-dark);
    --black-100:var(--bg-dark);
    --black-000:var(--bg-dark);
    --main-to-dark-color: var(--bg-dark);
    --dark-to-main-color:var(--main-color);
    --shadow-black-100:var(--shadow-black-300);
    --black-alpha-100:rgba(255,255,255,0.05);
    --black-900:#ffffff;
    --black-400:#bbbbbb;
}
*{
    margin: 0;
    padding: 0;
    outline: none !important;
}
html,body{
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    font-weight: 400;
    overflow-x: hidden;
    background-color:white;
    line-height: 1.5px;
    margin: 0%;
    box-sizing: border-box;
}
img{
    max-width: 100%;
    vertical-align: middle;
}
ul{
    list-style: none;
}
.btn-1{
    background-color: #ffffff;
    padding: 12px 30px;
    border: none;
    border-radius: 30px;
    color: var(--main-color);
    font-size: 16px;
    transition: all 0.5 ease;
    box-shadow: var(--shadow-black-300);
    font-weight: 500;
}
.btn-1:focus{
    box-shadow: var(--shadow-black-300);
}
.btn-1:hover{
    color: #ffffff;
    background-color: var(--main-color);
}
@keyframes spin_01{
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(360deg);
    }
}
@keyframes bounceTop_01{
    0%,100%{
        transform:translateY(-30px);
    }
    50%{
        transform: translateY(0px);
    }
}
@keyframes pulse_01{
    0%{
        transform: scale(0.94);
        box-shadow: 0 0 0 0 rgba(255,255,255,0.7);
    }
    70%{
        transform: scale(1);
        box-shadow: 0 0 0 12px rgba(90, 60, 60, 0);
    }
    100%{
        transform: scale(0.94);
        box-shadow: 0 0 0 0 rgba(255,255,255,0);
    }
}
.effect-wrap .effect{
    position: absolute;
    z-index: -1;
}
.effect-wrap .effect-1{
    left: 20%;
    top:20%;
    font-size: 20px;
    color: var(--color-2);
    animation: spin_01 5s linear infinite;
}
.effect-wrap .effect-2{
    right: 5%;
    top:10%;
    font-size: 25px;
    color: rgba(255,255,255,0.5);
    animation: spin_01 5s linear infinite;
}
.effect-wrap .effect-3{
    left: 5%;
    bottom:30%;
    font-size: 25px;
    color:var(--color-3);
    animation: bounceTop_01 3s linear infinite;
}
.section-padding{
    padding: 80px 0;
}
.section-title{
    margin-bottom: 60px;
}
.section-title h2{
    font-size: 30px;
    color: var(--black-900);
    font-weight: 700;
    text-transform: capitalize;
    text-align: center;
    margin: 0;
}
.section-title h2 span{
    color: var(--main-color);
}
.section-title p{
    font-size: 16px;
    font-style: italic;
    color: var(--main-color);
    font-weight: 600;
    text-align: center;
    padding-top: 10px;
}
.navbar{
    background-color: transparent;
    padding: 20px 0;
    transition: all 0.5s ease;
}
.navbar.navbar-shrink{
    box-shadow: 0 10px 10px rgba(0,0,0,0.1);
    background-color: var(--main-color);
    padding: 20px 0;
}
.navbar > .container{
    padding:0 15px;
}
.navbar .navbar-brand{
    font-size: 30px;
    font-weight: 500;
    color: #ffffff;
}
.navbar .nav-item{margin-left: 40px;}
.navbar .nav-item .nav-link{
    color: #ffffff;
    font-size: 16px;
    font-weight: 500;
    padding: 10px 0;
    position: relative;
}
.navbar .nav-item .nav-link::before{
    content: "";
    position: absolute;
    left: 0;
    right:0;
    bottom: 0;
    height: 1px;
    background-color: #ffffff;
    transition: all 0.5s ease;
    transform: scale(0);
}
.navbar .nav-item .nav-link.active::before,
.navbar .nav-item .nav-link:hover::before{
    transform: scale(1);
}
.home{
    min-height: 100vh;
    padding: 150px 0;
    background-color: var(--main-to-dark-color);
    border-radius: 0 0 200px 0;
    position: relative;
    z-index: 1;
    overflow-x: hidden;
}
.home-text h1{
    font-size: 45px;
    font-weight: 700;
    color: #ffffff;
    margin: 0 0 20px;
}
.home-text span{
    font-size: 20px;
    color:var(--color-2);
    font-weight: 400;
    line-height: 50px;
}
.home-text p{
    font-size: 18px;
    color:#ffffff;
    line-height: 28px;
    margin: 0;
    font-weight: 300;
}
.home .home-btn{
    margin-top: 40px;
}
.home .home-btn .video-play-btn{
    margin-left: 30px;
    height: 50px;
    width: 50px;
    padding: 0;
    font-size: 16px;
    animation: pulse_01 2s ease infinite;
}
.home .home-btn .video-play-btn:hover{
    animation: none;
    box-shadow: var(--shadow-black-300);
}
.home .home-btn .video-play-btn i{
    line-height: 50px;
}
.home-img img{
    max-width: 380px;
    width: 100%;
    border-radius: 32px;
    animation: bounceTop_01 3s ease infinite;
}
.home-img{
    position: relative;
}
.home-img .circle{
    position: absolute;
    z-index: 1;
    height: 380px;
    width: 380px;
    border: 1px solid rgba(255,255,255,0.2);
    border-radius: 50%;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
.home-img .circle::before{
    content: "";
    position: absolute;
    height: 60px;
    width: 60px;
    background-color: rgba(255,255,255,0.4);
    border-radius: 50%;
    left:30px;
    top: 30px;
    transform-origin: 170px 170px;
    animation: spin_01 10s linear infinite;
}
.video-poup{
    position: fixed;
    padding: 70px;
    width: 100%;
    width: 100%;
    top:0;
    left: 0;
    z-index: 1999;
    background-color: rgba(0,0,0,0.7);
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0;
    visibility: hidden;
    transition: all 0.5s ease;
}
.video-poup.open{
    opacity: 1;
    visibility: visible;
}
.video-poup-inner{
    width: 100%;
    max-width: 900px;
    position: relative;
}
.video-poup .iframe-box{
    height: 0;
    overflow: hidden;
    padding-top: 56.25%;
}
.video-poup #player-1{
    position: absolute;
    top:0;
    left: 0;
    height: 100%;
    width: 100%;
    border: 0;
}
.video-poup .video-poup-close{
    position: absolute;
    right: 0;
    top: -30px;
    height: 30px;
    width: 30px;
    font-size: 16px;
    text-align: center;
    line-height: 30px;
    cursor: pointer;
    color: #ffffff;
}
.features-carousel{
    display:flex;
    flex-direction:row;
   justify-content:space-between;
}
.features .features-item{
    box-shadow: var(--shadow-black-300);
    margin: 15px;
    padding: 15px;
    border-radius: 10px;
    text-align: center;
    position: relative;
    z-index: 1;
}
.features .features-item::before,
.features .features-item::after{
    content: '';
    position: absolute;
    z-index: -1;
    border-radius: 50%;
    transition: all 0.5s ease;
}
.features .features-item::before{
    height: 20px;
    width: 20px;
    background-color: var(--color-1);
    left: 10px;
    top:30%;
}
.features .features-item::after{
    height: 30px;
    width: 30px;
    background-color: var(--color-2);
    right:20px;
    top:80%;
}
.features .features-item .icon{
    height: 60px;
    width: 60px;
    margin: 0 auto 30px;
    text-align: center;
    font-size: 30px;
    color: var(--main-color);
    position: relative;
    z-index: 1;
    transition: all 0.5s ease;
}
.features .features-item .icon::before{
    content:'';
    position: absolute;
    left: 100%;
    top:0;
    width: 100%;
    height: 100%;
    background-color: var(--main-color);
    transition: all 0.5s ease;
    z-index: -1;
    opacity: 0;
}
.features .features-item:hover .icon{
    font-size: 30px;
    color: #ffffff;
}
.features .features-item:hover .icon::before{
    left:0;
    border-radius: 50%;
    opacity: 1;
}
.features .features-item .icon i{
    line-height: 60px;  
}
.features .features-item h3{
    font-size: 22px;
    margin: 0 0 20px;
    color: var(--black-900);
    font-weight: 500;
}
.features .features-item p{
    font-size: 16px;
    line-height: 26px;
    font-weight: 300;
    color: var(--black-400);
    margin: 0 0 15px;
}
.fun-facts{
    background-color: var(--black-100);
}
.fun-facts .fun-fact-img{
    max-width: 350px;
    width: 100%;
    border-radius: 32px;
    animation: bounceTop_01 3s ease infinite;
}
.fun-facts .section-title{
    margin-bottom: 20px;
}
.fun-facts .section-title h2{
    text-align: left;
}
.fun-facts .fun-fact-text{
    font-size: 16px;
    line-height: 26px;
    color: var(--black-400);
    margin: 0 0 15px;
    font-weight: 300;
}
.fun-fact-item{
    padding: 40px 30px;
    text-align: center;
    box-shadow: var(--shadow-black-300);
    border-radius: 10px;
    margin-top: 30px;
}
.fun-fact-item h3{
    font-size: 30px;
    font-weight: 700;
    color: #ffffff;
    margin: 0 0 5px;
}
.fun-fact-item span{
    font-size: 16px;
    font-weight: 300;
    margin: 0;
    line-height: 26px;
    display: block;
}
.fun-fact-item.style-1{
    background-color: var(--color-1);
}
.fun-fact-item.style-2{
    background-color: var(--color-2);
}
.fun-fact-item.style-3{
    background-color: var(--color-3);
}
.fun-fact-item.style-4{
    background-color: var(--main-color);
}
.carousel-item{
    margin: 15px;
}
.carousel-item img{
    width: 100%;
    height: 100%;
    display: block;
    margin: auto;
}
.carousel-indicators li{
    background-color: var(--main-color);
}
.app-download{
    background-image:url('img/bg.jpg');
    background-repeat:no-repeat;
    background-position: center top;
    background-attachment: fixed;
    position: relative;
    z-index: 1;
}
.app-download h2 span{
    color: #ffffff;
}
.app-download::before{
    content: '';
    position: absolute;
    left: 0;
    top:0;
    width: 100%;
    height: 100%;
    z-index: -1;
    background-color: var(--main-to-dark-color);
    opacity: 0.4;
}
.download-item{
    background-color: var(--black-000);
    padding: 30px;
    text-align: center;
    border-radius: 10px;
    box-shadow: var(--black-100);
}
.download-item i{
    font-size: 30px;
    color: var(--main-color);
    display: inline-block;
}
.download-item h3{
    font-size: 22px;
    color: var(--black-900);
    margin: 20px 0;
    font-weight: 500;
}
.download-item p{
    font-size: 16px;
    color:var(--black-400);
    font-weight: 300;
    line-height: 26px;
    margin: 0 0 20px;
}
.how-it-work-item{
    padding: 30px;
    text-align: center;
    position: relative;
    z-index: 1;
}
.how-it-work-item.line-right::before{
    content: '';
    position: absolute;
    height: 2px;
    width: 100%;
    left:50%;
    top:60px;
    background-color: var(--main-color);
    z-index: -1;
}
.how-it-work-item .step{
    display: inline-block;
    height: 60px;
    width: 60px;
    background-color: var(--main-color);
    font-size: 30px;
    text-align: center;
    line-height: 60px;
    border-radius: 50%;
    color: #ffffff;
    font-weight: 500;
    margin: 0 0 15px;
}
.how-it-work-item h3{
    margin: 20px 0;
    font-size: 20px;
    font-weight:500;
    color: var(--black-900);
}
.how-it-work-item p{
    margin: 0;
    font-size: 16px;
    color: var(--black-400);
    line-height: 26px;
    font-weight: 300;
}
.testimonials{
    background-color: var(--black-100);
}
.testimonials .carousel-inner .card{
    margin: 15px;
    padding: 30px;
    box-shadow: var(--shadow-black-100);
    border-radius: 20px;
    text-align: center;
    height: 90%;
} 
.testimonials .carousel-inner .card-img-top{
    height: 100px;
    width: 100px;
    display: inline-block;
    margin: 0 0 30px 30%;
    border: 4px solid var(--main-color);
    border-radius: 50%;
    position: relative;
}
.carousel-inner .card-img-top img{
    border-radius: 50%;
    width: 100%;
}
.carousel-inner .card-img-top i{
    position: absolute;
    height: 30px;
    width: 30px;
    background-color: var(--main-color);
    border-radius: 50%;
    color: #ffffff;
    font-size: 12px;
    line-height: 30px;
    text-align: center;
    left: calc(100% - 15px);
    top:calc(50% - 15px);
}
.carousel-inner .card-body p{
    font-size: 16px;
    margin: 0 0 20px;
    color: var(--black-400);
    line-height: 26px;
    font-weight: 300;
}
.carousel-inner .card-body h3{
    font-size: 22px;
    color: var(--black-900);
    margin: 0 0 10px;
    font-weight: 500;
}
.carousel-inner .card-body span{
    display: block;
    font-size: 16px;
    color: var(--black-400);
    font-weight: 300;
}
.carousel-inner .rating{
    margin-top: 15px;
}
.carousel-inner .rating i{
    display: inline-block;
    font-size: 16px;
    color: var(--color-2);
}
.carousel-inner .rating .checked{
    color: var(--black-400);
}
.controls-top{
    margin-left: 50%;
}
.controls-top i{
    height: 30px;
    width: 30px;
    color:var(--main-color);
    font-size: 26px;
    text-align: center;
    line-height: 30px;
    left: calc(100% - 15px);
    top:calc(50% - 15px);
}
.faq .accordion-item:not(:last-child){
    margin-bottom: 20px;
}
.faq .accordion-header:not(.collapsed){
    background-color: var(--main-color);
    box-shadow: none;
}
.faq .accordion-header{
    box-shadow: var(--shadow-black-300);
    padding: 20px 50px 20px 30px;
    transition: all 0.5s ease;
    cursor: pointer;
    position: relative;
}
.faq .accordion-header::before{
    content:'\002b';
    font-weight: 600;
    font-size: 30px;
    position: absolute;
    right: 10px;
    top:50%;
    transform: translateY(-50%);
    text-align: center;
    line-height: 30px;
    color: var(--black-400);
    transition: all 0.5s ease;
}
.faq .accordion-header:not(.collapsed)::before{
    content: ' \2212';
    font-weight: 600;
    font-size: 30px;
    color: #ffffff;
}
.faq .accordion-header h3{
    font-size: 18px;
    font-weight: 600;
    color: var(--black-400);
    margin: 0;
    transition: all 0.5s ease;
}
.faq .accordion-header:not(.collapsed) h3{
    color: #ffffff;
}
.faq .accordion-body{
    padding: 20px 30px;
}
.faq .accordion-body p{
    font-size: 16px;
    font-weight: 400;
    color: var(--black-400);
    margin: 0;
    line-height: 26px;
}
.contact{
    background-color: var(--black-100);
}
.contact-info h3{
    font-size: 20px;
    color: var(--black-900);
    font-weight: 500;
    margin: 0 0 40px;
}
.contact-item{
    position: relative;
    padding-left: 55px;
    margin-bottom: 30px;
}
.contact-item i{
    position: absolute;
    height: 40px;
    width: 40px;
    border: 1px solid var(--main-color);
    color: var(--main-color);
    border-radius: 50%;
    font-size: 20px;
    text-align: center;
    line-height: 38px;
    left: 0;
    top: 0;
    cursor: pointer;
}
.contact-item h4{
    font-size: 18px;
    font-weight: 400;
    color: var(--black-900);
    margin: 0 0 10px;
}
.contact-item p{
    font-size: 16px;
    font-weight: 300;
    color: var(--black-400);
    margin: 0;
    line-height: 26px;
}
.social-item{
    float: right;
    position: relative;
    margin-bottom: 30px;
}
.social-item h3{
    font-size: 30px;
    color: var(--black-900);
    font-weight: 500;
    margin: 0 0 40px;
}
.social-item i{
    height: 40px;
    width: 40px;
    border: 1px solid var(--main-color);
    color: var(--main-color);
    background-color: #ffffff;
    border-radius: 50%;
    font-size: 20px;
    text-align: center;
    line-height: 38px;
    left: 0;
    top: 0;
    cursor: pointer;
    transition: all 0.5 ease;
    box-shadow: var(--shadow-black-300);
}
.social-item i:focus{
    box-shadow: var(--shadow-black-300);
}
.social-item i:hover{
    color: #ffffff;
    background-color: var(--main-color);
}
.footer{
    background-color: var(--main-color);
    padding: 10px 0 5px;
}
.footer .copyright-text{
    margin: 10px 0 5px;
    padding: 10px 0;
    text-align: center;
    font-size: 16px;
    font-weight: 300;
    color: rgba(255,255,255,0.9);
}
.toggle-theme{
    position: fixed;
    right: 0;
    top:calc(50% - 20px);
    height: 40px;
    width: 40px;
    background-color:var(--dark-to-main-color);
    z-index: 1200;
    color: #ffffff;
    font-size: 20px;
    text-align: center;
    cursor: pointer;
    border-radius: 50%;
    box-shadow: var(--shadow-black-300);
}
.toggle-theme i{
    line-height: 40px;
}
@media only screen and (max-width: 991px){
    .navbar-toggler{
        background-color: var(--dark-to-main-color);
        box-shadow: var(--shadow-black-300);
        height: 34px;
        width: 44px;
        padding: 0;
        font-size: 17px;
        color: #ffffff;
    }
    .navbar-nav{
        background-color: var(--dark-to-main-color);
        box-shadow: var(--shadow-black-300);
        margin:5px;
    }
    .navbar .nav-item{
        margin: 0;
        padding: 5px 15px;
    }
    .navbar-toggler .navbar.navbar-shrink,
    .navbar.navbar-shrink .navbar-nav{
        background-color: var(--main-color);
    }
    .home-img .circle{
        height: 320px;
        width: 320px;
    }
    .home-img .circle::before{
        left: 18px;
        top:18px;
        transform-origin: 142px 142px;
    }
    .how-it-work-item.line-right::before{
        content: none;
    }
    .how-it-work-item{
        box-shadow: var(--shadow-black-300);
        border-radius: 10px;
        margin-bottom: 30px;
    }

}
@media only screen and (max-width: 767px){
    .home-btn{
        margin-bottom: 80px;
    }
    .fun-fact-img{
        margin-bottom: 30px;
    }
    .features-carousel{
        display:flex;
        flex-direction:column;
        justify-content:space-between;
    }
    .download-item{
        margin-bottom: 10px;
    }
    .social-item{
        float: left;
    }
    .section-title h2{
        font-size: 35px;
    }
}
@media only screen and (max-width: 575px){
    .home-text h1{
        font-size: 30px;
    }
    .home-text p{
        font-size: 16px;
    }
    .section-title h2{
        font-size: 30px;
    }
    .footer .copyright-text{
        font-size: 12px;
    }
}